details.qa {
    padding:10px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    display:block;
    margin-bottom:2em;
}
details.qa > summary.question {
    font-weight: bolder;
}
details.qa[open] > summary.question {
    margin-bottom:1em;
}
