.field {
    width:90%;
    margin:10px;
}
.field > input, .field > textarea {
    padding:15px;
    border-radius: 5px;
    font-size: 1.2em;
    border:1px solid var(--secondary-color);
    transition:all .3s ease;
}

.field > input:focus-visible{
    outline:none;
    border:1px solid var(--main-color);
}
input:required::after {
    display: block;
    content: "*dfgkdfbgdfbhgbfhbfghfhghgfhgfhgfhgfhgfhgfhgfhgfhgfhgfhh";
    color:red;
    position: absolute;
    top:0;
}
.box {
    border: 2px solid var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
    width:80%;
}
.box > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}
.form{
    gap:10px;
}
.error {
    color: #ff3838;
    font-weight: bold;
}
.field > textarea {
    width:90%;
    resize:none;
    height: 150px;
    font-family: inherit;
}
.row {
    flex-direction: row;
    gap:1em;
}