header {
    display: flex;
    flex:0 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    color: var(--main-color);
}

.header-text {
    display:flex;
    flex-direction: row;
    font-size:3em;
    text-decoration: none;
    gap:25px;
    align-items: center;
    color:var(--main-color)
}
.font-entract {
    font-family: "Sofia", sans-serif;
    display: inline;
}
header > div {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.logo {
    max-width: 300px;
}

header i.fa {
    color:var(--main-color);
    font-size: 50px;
}
