header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 30px;
    padding: 10px;
    color: var(--main-color);
}
header > div {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}

.logo {
    max-width: 150px;
}

header i.fa {
    font-size: 50px;
}
