

p {
    font-size: 1.1em;
    line-height: 1.68em;
}

.text-main {
    color: var(--main-color)
}

.presentation {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
}