<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
</head>
<body>
{% include 'header.html' %}
<main>
    <div class="main-content">
        <p>
            <strong>
                Vous devez être connecté pour accéder à cette page
            </strong>
        </p>
    </div>
</main>
</body>
</html>